/* VENDOR - Default fall-backs and external files.
========================================================================== */

@import "vendor/normalize/_import-now";
@import "vendor/slick";


/* BASE*/

@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_placeholders.scss';

/*GRID and Common Rules*/

@import "framework/_grid.scss";

@import 'framework/_typography.scss';

@import 'modules/_buttons.scss';




html, body {
	height: 100%;
}


body {
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	opacity: 1;
}


/**************** COMMON RULES ****************/

h2 {
    line-height: 1.25;
    font-weight: 600;
}


/**************** HEADER AREA ****************/
.site-header {
    min-height: 800px;
    background: url(../img/main/wave-1.png) no-repeat center 700px,
    url(../img/main/hero-img.png) no-repeat center 470px,
    url(../img/main/hero-bg-xs.jpg) no-repeat center center;
    background-size: 100%, 250px, cover;
}

.header-top {
    @include flex-wrap (wrap);
    @include justify-content(space-between);
    padding-top: 1.66rem;
}

.logo-link {
    @include flex(0 0 100%);
    @include align-items(center);
    @include justify-content(center);
    height: 73px;
    margin: 1.88rem auto;
    .logo-img {
        @include flex(0 0 61px);
        @include bg-cover ('../img/main/logo.png');
        min-height: 100%;
    }
    .logo-text {
        margin: 0 0 0 17px;
        @include font-gandhi (2.5rem, $white, 400);
    }
}

.register-link {
    color: $color-text-heading;
}

.header-bottom {
    .cta-block {
        @extend %visible-md;
    }
}

.hero-text-wrapper {
    color: $color-text-heading;
    @extend %text-center;
    max-width: 642px;
    margin: 0 auto;
    .hero-text {
        margin-top:0;
    }
}



// EXTRA SMALL
@include mq(phone, min) {
    .site-header {
        background: url(../img/main/wave-1.png) no-repeat center 685px,
        url(../img/main/hero-img.png) no-repeat center 370px,
        url(../img/main/hero-bg-xs.jpg) no-repeat center center;
        background-size: 100%, 340px, cover;
    }

}

@include mq(phablet, min) {
    .site-header {
        background: url(../img/main/wave-1.png) no-repeat center 660px,
        url(../img/main/hero-img.png) no-repeat center 340px,
        url(../img/main/hero-bg-xs.jpg) no-repeat center center;
        background-size: 100%, 350px, cover;
    }

}

@include mq(tablet-small, min) {
	 html {
        font-size: $basic-fs;
    }
    .site-header {
        min-height: 1115px;
        background: url(../img/main/wave-1.png) no-repeat center 940px,
        url(../img/main/hero-img.png) no-repeat 75% 450px,
        url(../img/main/hero-bg-xs.jpg) no-repeat center center;
        background-size: 100%, 515px, cover;
    }

    .header-top {
        .logo-link {
            height: 139px;

            .logo-img {
                @include flex-basis(116px);
            }
            .logo-text {
                font-size: 2.5rem;
            }
        }
    }
}

@include mq(tablet, min) {
	    h2 {
        font-size: 1.33rem;
    }


    .site-header {
        min-height: 960px;
        background: url(../img/main/wave-2.png) no-repeat -140px 810px,
        url(../img/main/hero-img-md.png) no-repeat 81% 390px,
        url(../img/main/hero-bg-big.jpg) no-repeat center 0%;
        background-size: 1200px, 550px, cover;
    }
    .header-bottom {
        margin-top: 6.4rem;
    }
    .hero-text-wrapper {
        max-width: 680px;
    }

    .header-top {
        @include align-items(center);
        .header-link {
            font-size: 0.9rem;
        }
        .login-link {
            margin-right: 2rem;
            margin-left: auto;
            @include order(1);
        }
        .register-link {
            @include order(2);
        }
        .logo-link {
            height: 74px;
            margin: 0;
            @include flex-basis(250px);
            @include order(0);
            @include justify-content(flex-start);
            .logo-img {
                @include flex-basis(61px);
            }
            .logo-text {
                font-size: 1.2rem;
            }
        }
    }
}

@include mq(tablet-wide, min) {
	    .site-header {
        min-height: 770px;
        background: url(../img/main/wave-2.png) no-repeat -307px 560px,
        url(../img/main/hero-img-md.png) no-repeat 115% 100px,
        url(../img/main/hero-bg-lg.jpg) no-repeat center center;
        background-size: 141%, 580px, cover;
    }
    .header-top {
        padding-top: 1.5rem;
        .header-link {
            font-size: 1rem;
        }
        .login-link {}
        .register-link {}
        .logo-link {
            height: 80px;
            @include flex-basis(100%);
            @include order(3);
            .logo-img {
                @include flex-basis(66px);
            }
            .logo-text {
                font-size: 1.2rem;
            }
        }
    }
    .header-bottom {
        margin-top: 7rem;
        .hero-text-wrapper,
        .cta-block {
            max-width: 50%;
            margin-left: 0;
            text-align: left;
            .cta-btn {
                margin: 2.33rem auto 2rem;
                font-size: 1.11rem;
                width: 265px;
                text-align: center;
            }
        }
        .hero-text {
            max-width: 100%;
        }

        .hero-text,
        .cta-text {
            text-align: left;
        }
        .cta-text {
            margin: 42px auto 0;
        }
    }
}

@include mq(desktop, min)  {
	  .site-header {
        min-height: 800px;
        background: url(../img/main/wave-2.png) no-repeat 0 510px,
        url(../img/main/hero-img-md.png) no-repeat 105% 75px,
        url(../img/main/hero-bg-lg.jpg) no-repeat center center;
        background-size: 110%, 565px, cover;
    }

    .header-top {
        padding-top: 1rem;
        @include align-items(flex-start); 
        .logo-link {
            @include flex-basis(25%);
            @include order(0);
        }
    }
    .header-bottom {
        .hero-text-wrapper,
        .cta-block {
            max-width: 58%;
            .cta-btn {
                margin-top: 30px;
            }
        }
        .cta-text {
            margin-top: 30px;
        }
    }
}

@include mq(desktop-wide, min) {
	  .site-header {
        min-height: 770px;
        background: url(../img/main/wave-2.png) no-repeat 0 510px,
        url(../img/main/hero-img-lg.png) no-repeat 105% 75px,
        url(../img/main/hero-bg-lg.jpg) no-repeat center center;
        background-size: 110%, 565px, cover;
    }

    .header-top {
        padding-top: 1.33rem;
        .header-link {
            font-size: 1rem;
        }
        .login-link {
            margin-right: 2rem;
            margin-left: auto;
        }
    }

    .header-bottom {
        margin-top: 6.88rem;
        .hero-text-wrapper,
        .cta-block {
            max-width: 52%;
        }
    }
}
